<div class="row">
  <div class="container">
  <h1><%= @movie.title %> (<%= @movie.year %>)</h1>
  </div>
</div>

 <%= render "reviews/form" %>
 <%= render "reviews/reviews_index" %>

 <%= link_to 'All Reviews', [@movie, :reviews] %>