
<div class="row">
  <div class="container">
    <h1><%= @movie.title %> (<%= @movie.year %>)</h1>
    <h4><%= link_to 'All Reviews', [@movie, :reviews] %></h4>
    <p class="actions">
      <%= simple_form_for [@like] do |f| %>
        <%= f.hidden_field :likeable_type, :value => @movie.class %>
        <%= f.hidden_field :likeable_id, :value => @movie.id %>
          <%= f.button :submit, "#{@movie.likes.count} Likes", class: "btn" %>
      <% end %>
    </p>
  </div>
</div>


<%= render "reviews/form" %>
<%= render "reviews/reviews_index" %>



 
