  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">eXtreme Reviews</a>
        <ul class="nav pull-right">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'Browse', movies_path %>
          </li>
          <li>
            <%= link_to 'Add a movie', new_movie_path %>
          </li>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.email %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'Profile', '#' %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %>
                </li>
              </ul>
            </li>
          <% else %>
            <li class="sign-in">
              <%= link_to 'Sign in', new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<div class="row main-row">
